@model CarSharing.Models.UserViewModel

@{
    ViewData["Title"] = "Account";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 animate__animated animate__slideInLeft">
                <div class="card-body">
                    <div class="animate__animated animate__fadeIn animation-delay-05s">
                        <div class="text-center">
                            <h2 class="card-title">
                                @Model.User!.Login
                                @if (@Model.User!.IsAdmin)
                                {
                                    <span class="badge bg-success">Admin</span>
                                }
                            </h2>
                            <small>@Model.User!.Name @Model.User!.Surname</small>
                        </div>
                        <hr />
                        <p class="card-text animate__animated animate__fadeIn animation-delay-075s">
                            <strong>Email:</strong> @Model.User!.Email
                            <br />
                            <strong>Address:</strong> @Model.User!.Address, @Model.User!.PostalCode
                        </p>
                        <hr />
                        <p class="card-text animate__animated animate__fadeIn animation-delay-075s">
                            <strong>Total Rents:</strong> @Model.totalRents <br />
                            <strong>Total Price:</strong> @Model.totalDollarsForCars <span>$/h</span>
                        </p>
                        <hr />
                    </div>
                    <div class="mt-3 animate__animated animate__fadeIn animation-delay-075s">
                        @if (Model.User!.Id == ViewBag.Id) {
                            <a asp-action="ChatList" asp-route-id="@Model.User!.Id" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                                    <path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                </svg>
                            </a>
                        }
                        else
                        {
                            <a asp-action="CreateChat" asp-route-creatorId="@ViewBag.Id" asp-route-memberId="@Model.User!.Id" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                    <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15" />
                                </svg>
                                @Model.User!.Name
                            </a>
                        }
                        @if (Model.User!.Id == ViewBag.Id || ViewBag.isAdmin == 1)
                        {
                            <a asp-action="Edit" asp-route-id="@Model.User!.Id" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
                                </svg>
                            </a>
                            <a asp-action="Delete" asp-route-id="@Model.User!.Id" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-x" viewBox="0 0 16 16">
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708" />
                                </svg>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 animate__animated animate__slideInRight">
                <div class="card-body animate__animated animate__fadeIn animation-delay-05s">
                    @if (Model.User.Id == ViewBag.Id)
                    {
                        <h2 class="card-title">My Reviews</h2>
                    }
                    else
                    {
                        <h2 class="card-title">@Model.User.Name's Reviews</h2>
                    }
                    <hr />
                    @if (Model.Reviews != null && Model.Reviews.Any())
                    {
                        <div class="row overflow-hidden px-2">
                            @foreach (var rew in Model.Reviews)
                            {
                            <div class="card my-2 animate__animated animate__fadeIn animation-delay-075s">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @rew.User!.Name @rew.User!.Surname
                                        <span class="badge float-end @(rew.Rating == 1 ? "bg-danger" : rew.Rating >= 2 && rew.Rating < 4 ? "bg-warning" : rew.Rating >= 4 ? "bg-success" : "")">@rew.Rating</span>
                                    </h5>
                                    <p class="card-text">@rew.Comment</p>
                                    <small class="text-muted">@Html.DisplayFor(modelItem => rew.CreatedAt)</small>
                                    @if (ViewBag.isAdmin == 1 || ViewBag.Id == rew.User!.Id)
                                    {
                                        <div class="float-end">
                                            <a asp-controller="RatingAndReviews" asp-action="Edit" asp-route-id="@rew.Id" class="btn btn-secondary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                </svg>
                                            </a>
                                            <a asp-controller="RatingAndReviews" asp-action="Delete" asp-route-id="@rew.Id" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                </svg>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info animate__animated animate__fadeIn animation-delay-075s" role="alert">
                            You have no reviews.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card animate__animated animate__slideInUp">
                <div class="card-body animate__animated animate__fadeIn animation-delay-05s">
                    @if (Model.User.Id == ViewBag.Id)
                    {
                        <h2 class="card-title text-center display-4">My Rents</h2>
                    }
                    else
                    {
                        <h2 class="card-title text-center display-4">@Model.User!.Name's Rents</h2>
                    }
                    <hr />
                    @if (Model.Rents != null && Model.Rents.Any())
                    {
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 overflow-hidden">
                            @foreach (var item in Model.Rents)
                            {
                                <div class="col mb-4 animate__animated animate__slideInUp animation-delay-075s">
                                    <div class="card h-100 shadow-sm">
                                        <div class="card-img-top">
                                            @if (item.Car != null && item.Car.ImagePaths != null && item.Car.ImagePaths.Any())
                                            {
                                                <img src="@Url.Content("~/uploads/" + item.Car.ImagePaths.First())" class="img-fluid rounded-top" alt="Car Image" style="width: 100%; max-height: 250px; min-height: 250px; object-fit: cover;">
                                            }
                                            else
                                            {
                                                <img src="~/images/default-car.jpg" class="img-fluid rounded-top" alt="Default Car Image">
                                            }
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title d-flex align-items-center mb-3">
                                                <span class="flex-grow-1">
                                                    @item.Car!.Brand!.Name @item.Car.Model
                                                    @if (item.Car.FuelType == FuelTypes.Electric)
                                                    {
                                                        <span class="badge bg-success ms-1 rounded-circle">E</span>
                                                    }
                                                </span>
                                                <span class="badge bg-success" style="right: 4%;">@item.Car.Price $/h</span>
                                            </h5>
                                            <p class="card-text mb-1">
                                                <strong>Fuel Type:</strong> @item.Car.FuelType<br>
                                                <strong>Color:</strong> @item.Car.Color<br>
                                                <strong>Manufacturing Date:</strong> @Html.DisplayFor(modelItem => item.Car.ManufacturingDate)<br>
                                                <div class="card shadow-sm mt-4">
                                                    <div class="card-body">
                                                        @item.CardNumber<br />
                                                        @item.CardHolderName<br />
                                                        @Html.DisplayFor(modelItem => item.CardExDate)<br />
                                                        <span class="float-end">@item.CVV</span>
                                                    </div>
                                                </div>
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <a href="@Url.Action("Details", "Cars", new { id = item.Car!.Id })" class="btn btn-primary w-25">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                                                    </svg>
                                                </a>
                                                @if (ViewBag.isAdmin == 1)
                                                {
                                                    <a asp-controller="Rents" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary w-25">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                        </svg>
                                                    </a>
                                                }
                                                @if (Model.User.Id == ViewBag.Id || ViewBag.isAdmin == 1)
                                                {
                                                    <a asp-controller="Rents" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger w-25">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                                            <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
                                                        </svg>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info animate__animated animate__fadeIn animation-delay-075s" role="alert">
                            There are no orders in your list.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
