@model CarSharing.Models.User

@{
    ViewData["Title"] = "Delete User";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card animate__animated animate__slideInUp">
                <div class="card-body animate__animated animate__fadeIn animation-delay-05s">
                    <h1 class="card-title text-center display-4">Delete</h1>
                    <hr />
                    <dl class="row animate__animated animate__fadeIn animation-delay-075s">
                        <dt class="col-sm-3">Login:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Login) 
                            @if (Model.IsAdmin)
                            {
                                <span class="badge bg-success">Admin</span>
                            }
                        </dd>
                        <dt class="col-sm-3">Name:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
                        <dt class="col-sm-3">Surname:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Surname)</dd>
                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
                        <dt class="col-sm-3">Address:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>
                        <dt class="col-sm-3">Postal Code:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.PostalCode)</dd>
                    </dl>
                    <form asp-action="Delete" class="animate__animated animate__fadeIn animation-delay-075s">
                        <input type="hidden" asp-for="Id" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            @if (ViewBag.isAdmin == 1)
                            {
                                <a asp-action="Index" class="btn btn-secondary my-2">Back to List</a>
                            }
                            else
                            {
                                <a asp-action="Account" class="btn btn-secondary my-2">Back to Account</a>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
