@model CarSharing.Models.User

@{
    ViewData["Title"] = "Delete User";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card animate__animated animate__slideInUp">
                <div class="card-body animate__animated animate__fadeIn animation-delay-05s">
                    <h1 class="card-title text-center display-4">Delete User</h1>
                    <hr />
                    <dl class="row animate__animated animate__fadeIn animation-delay-075s">
                        <dt class="col-sm-3">Login:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Login) 
                            @if (Model.IsAdmin)
                            {
                                <span class="badge bg-success">Admin</span>
                            }
                        </dd>
                        <dt class="col-sm-3">Name:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
                        <dt class="col-sm-3">Surname:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Surname)</dd>
                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
                        <dt class="col-sm-3">Address:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>
                        <dt class="col-sm-3">Postal Code:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.PostalCode)</dd>
                    </dl>
                    <form asp-action="Delete" class="animate__animated animate__fadeIn animation-delay-075s">
                        <input type="hidden" asp-for="Id" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                            @if (ViewBag.isAdmin == 1)
                            {
                                <a asp-action="Index" class="btn btn-secondary my-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                    </svg>
                                </a>
                            }
                            else
                            {
                                <a asp-action="Account" asp-route-id="@ViewBag.Id" class="btn btn-secondary my-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                    </svg>
                                </a>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
