@model IEnumerable<CarSharing.Models.UserViewModel>

@{
    ViewData["Title"] = "List of Users";

    float delay = 0.2f;
}

<div class="container">
    <h1 class="text-center display-4 animate__animated animate__fadeIn">List of Users</h1>
    <hr class="animate__animated animate__fadeIn" />
    <p class="text-center animate__animated animate__fadeIn">
        <a asp-action="Create" class="btn btn-primary">Create new User</a>
    </p>

    <div class="row">
        <!-- Users Section -->
        @foreach (var user in Model)
        {
            <div class="col-md-6 mb-4 animate__animated animate__slideInUp" style="animation-delay: @(delay * 0.1)s">
                <div class="card shadow-sm">
                    <a asp-action="Account" asp-route-id="@user.User.Id" class="text-decoration-none text-dark">
                        <h5 class="card-title mb-0 text-center my-3 animate__animated animate__fadeIn animation-delay-075s">
                            @user.User!.Name @user.User.Surname
                            @if (user.User.IsAdmin)
                            {
                                <span class="badge bg-success">Admin</span>
                            }
                        </h5>
                    </a>
                    <hr class="animate__animated animate__fadeIn animation-delay-075s" />
                    <div class="card-body animate__animated animate__fadeIn animation-delay-1s">
                        <p class="card-text"><strong>Login:</strong> @user.User.Login</p>
                        <p class="card-text"><strong>Email:</strong> @user.User.Email</p>
                        <p class="card-text"><strong>Address:</strong> @user.User.Address, @user.User.PostalCode</p>
                        <h6 class="card-subtitle mt-4 mb-2 text-muted">Rented Cars
                            <span class="badge bg-success">@user.Rents.Count()</span>
                        </h6>
                        <div class="row">
                            @foreach (var rent in user.Rents)
                            {
                                <div class="col-md-6 mb-3 animate__animated animate__zoomIn animation-delay-075s">
                                    <div class="card">
                                        <div class="card-img-top">
                                            @if (rent.Car!.ImagePaths != null && rent.Car!.ImagePaths.Any())
                                            {
                                                <img src="@Url.Content("~/uploads/" + rent.Car!.ImagePaths.First())" class="img-fluid rounded-top" alt="Car Image" style="width: 100%; max-height: 150px; min-height: 150px; object-fit: cover;">
                                            }
                                            else
                                            {
                                                <img src="~/images/default-car.jpg" class="img-fluid rounded-top" alt="Default Car Image">
                                            }
                                        </div>
                                        <div class="card-body">
                                            <span class="flex-grow-1">
                                                @rent.Car!.Brand!.Name @rent.Car!.Model
                                                @if (rent.Car!.FuelType == FuelTypes.Electric)
                                                {
                                                    <span class="badge bg-success ms-1 rounded-circle">E</span>
                                                }
                                            </span><br />
                                            <span class="badge bg-success mb-2 my-2">@rent.Car!.Price $/h</span>
                                            <p class="card-text">
                                                <strong>Fuel Type:</strong> @rent.Car.FuelType<br />
                                                <strong>Color:</strong> @rent.Car.Color<br />
                                                <strong>Rent Time:</strong> @Html.DisplayFor(modelItem => rent.RentTime)<br />
                                                <strong>Time for Rent:</strong> @Html.DisplayFor(modelItem => rent.TimeForRent) hours
                                                <div class="card shadow-sm">
                                                    <div class="card-body">
                                                        @rent.CardNumber<br />
                                                        @rent.CardHolderName<br />
                                                        @Html.DisplayFor(modelItem => rent.CardExDate)<br />
                                                        <span class="float-end">@rent.CVV</span>
                                                    </div>
                                                </div>
                                            </p>
                                            <div class="d-grid gap-2">
                                                <a asp-action="Edit" asp-controller="Rents" asp-route-id="@rent.Id" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                    </svg>
                                                </a>
                                                <a asp-action="Delete" asp-controller="Rents" asp-route-id="@rent.Id" class="btn btn-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                                        <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer animate__animated animate__fadeIn animation-delay-075s">
                        <a asp-action="Edit" asp-route-id="@user.User.Id" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </a>
                        <a asp-action="Delete" asp-route-id="@user.User.Id" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            delay++;
        }
    </div>
</div>
