@model CarSharing.Models.Car

@{
    ViewData["Title"] = "Delete Car";
}

<style>
    .img-thumbnail {
        cursor: pointer;
        max-width: 100%;
        height: auto;
    }
</style>

<div>
    <div class="row">
        <div class="col-md-6 animate__animated animate__fadeInLeft">
            <h1 class="display-4">Delete Car</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Brand!.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FuelType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FuelType)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Color)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ManufacturingDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ManufacturingDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Price) $/h
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" value="Delete" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </a>
            </form>
        </div>
        <!-- Images Modal -->
        <div class="col-md-6 animate__animated animate__fadeInRight">
            <h4 class="display-4">Car Images</h4>
            <hr />
            <div class="d-flex flex-wrap">
                @if (Model.ImagePaths != null && Model.ImagePaths.Any())
                {
                    foreach (var imagePath in Model.ImagePaths)
                    {
                        <img src="~/uploads/@imagePath" alt="Existing Image" class="img-thumbnail mx-2 mb-2 animate__animated animate__zoomIn animation-delay-075s" style="width: 350px; height: 200px;" data-bs-toggle="modal" data-bs-target="#imageModal" />
                    }
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <!-- Added modal-xl class for extra large size -->
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid mx-auto d-block" style="width: 1500px;" alt="Modal Image" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Set modal image source when an image thumbnail is clicked
        var imageThumbnails = document.querySelectorAll('.img-thumbnail');
        var modalImage = document.getElementById('modalImage');

        imageThumbnails.forEach(function (thumbnail) {
            thumbnail.addEventListener('click', function () {
                modalImage.src = thumbnail.src;
            });
        });
    </script>
}
