@model CarSharing.Models.Car

@{
    ViewData["Title"] = "Edit Car";
}

<style>
    .img-thumbnail {
        cursor: pointer;
        max-width: 100%;
        height: auto;
    }
</style>

<h1 class="mt-4 display-4 animate__animated animate__fadeIn">Edit Car</h1>
<hr class="animate__animated animate__fadeIn"/>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm animate__animated animate__slideInUp">
            <div class="card-body animate__animated animate__fadeIn animation-delay-05s">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="BrandId" class="control-label">Brand</label>
                        <select asp-for="BrandId" class="form-select w-100" asp-items="ViewBag.BrandId"></select>
                        <a asp-action="Index" asp-controller="Brands" class="btn btn-primary w-100 my-2">Brands Collection</a>
                        <span asp-validation-for="BrandId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FuelType" class="control-label">Fuel Type</label>
                        <select asp-for="FuelType" class="form-select">
                            @foreach (var type in Enum.GetValues(typeof(FuelTypes)))
                            {
                                <option value="@type">@type</option>
                            }
                        </select>
                        <span asp-validation-for="FuelType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label">Model</label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Color" class="control-label">Color</label>
                        <select asp-for="Color" class="form-select">
                            @foreach (var color in Enum.GetValues(typeof(Color)))
                            {
                                <option value="@color">@color</option>
                            }
                        </select>
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManufacturingDate" class="control-label">Manufacturing Date</label>
                        <input asp-for="ManufacturingDate" class="form-control" />
                        <span asp-validation-for="ManufacturingDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Price" class="form-control" />
                            <div class="input-group-append">
                                <span class="input-group-text">per hour</span>
                            </div>
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImagePaths" class="control-label">Upload Images</label>
                        <input name="ImagePaths" id="fileInput" type="file" multiple class="form-control" accept="image/jpeg, image/jpg, image/png" />
                        <span class="text-danger" id="fileInputError"></span>
                        <span asp-validation-for="ImagePaths" class="text-danger"></span>
                    </div>
                    @if (Model.ImagePaths != null && Model.ImagePaths.Any())
                    {
                        <div class="form-group">
                            <div class="d-flex flex-wrap">
                                @foreach (var imagePath in Model.ImagePaths)
                                {
                                    <img src="~/uploads/@imagePath" alt="Existing Image" class="img-thumbnail mx-2 mb-2 animate__animated animate__zoomIn animation-delay-075s" style="width: 350px; height: 200px;" data-bs-toggle="modal" data-bs-target="#imageModal" />
                                }
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                            </svg>
                        </button>
                        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                            </svg>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <!-- Added modal-xl class for extra large size -->
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid mx-auto d-block" style="width: 1500px;" alt="Modal Image" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById("fileInput").addEventListener("change", function () {
            // Get the selected files
            var files = this.files;
            // Define the maximum number of files allowed
            var maxFiles = 3; // Set your desired maximum limit here

            // Check if the number of selected files exceeds the maximum limit
            if (files.length > maxFiles) {
                document.getElementById("fileInputError").innerText = "You can only upload a maximum of " + maxFiles + " files.";
                // Clear the selected files
                this.value = null;
            } else {
                document.getElementById("fileInputError").innerText = "";
            }
        });

        // Set modal image source when an image thumbnail is clicked
        var imageThumbnails = document.querySelectorAll('.img-thumbnail');
        var modalImage = document.getElementById('modalImage');

        imageThumbnails.forEach(function (thumbnail) {
            thumbnail.addEventListener('click', function () {
                modalImage.src = thumbnail.src;
            });
        });
    </script>
}
